/***************************
	INDEX/LANDING PAGE
***************************/
*{
	font-family: Arial;
}
html{
	padding: 0;
	width: 100%;
}
footer{
	border-top: 2px solid black;
	text-align: center;
	clear: both;
	margin-top: 50px;
}
nav a{
	text-decoration: none;
	color: black;
}
.header{
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 150px;
}
nav li{
	list-style: none;
	display: inline;
	padding: 10px 15px;
	border-bottom: 1px solid black;
}
nav li:hover{
	border: white;
}
nav{
	line-height: 150px;
}
.header h1{
	 color:    #D5AD6D ;
    background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.solid{
	font-size: 4em;
	padding-left: 15px;
}

/*************************
Adam's Additional Styling
*************************/

.wrapper-main{
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid lightgrey;
}

.content-main{
	float: left;
	width: 60%;
	margin-top: 20px;
}

.main-img {
	height: 90%;
	width: 90%;
	margin: 25px;
}

.aside-main {
	float: left;
	width: 39%;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	color: grey;
	margin-top: 20px;
}

.imgs-main {
	height: 190px;
	display: inline;
	border: 1px solid lightgrey;
}

.shop-now {
	clear: both;
	text-align: center;
}

.shop-button {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.5em;
	margin-top: 25px;
	padding: 6px 12px;
	text-transform: uppercase;
	background: #555;
	color: #fff;
	border: none;
	letter-spacing: .1em;
}

.secondary-content {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	margin-top: 50px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	color: grey;
	padding-bottom: 5px;
}

.secondary-content h3 {
	font-size: 1.3em;
}

.secondary-content p {
	font-size: 1.2em;
	letter-spacing: .2em;
}


/**************************************
	ABOUT PAGE
**************************************/



/**************************************
	CONTACT PAGE
**************************************/



/**************************************
	CAREER PAGE
**************************************/

/**************************************
	PRODUCT PAGE
**************************************/
.articles{
	color: black;
	width: 33%;
	position: relative;
	display: inline-block;
	text-align: center;
	padding-top: 100px;
}
.image-size{
	height: 50%;
	width: 50%;
}
#test{
	margin: 0 auto;
}
