/***************************
	INDEX/LANDING PAGE
***************************/
*{
	font-family: Arial;
}
html{
	padding: 0;
	width: 100%;
}
footer{
	border-top: 2px solid black;
	text-align: center;
	clear: both;
	margin-top: 50px;
}
nav a{
	text-decoration: none;
	color: black;
}
.header{
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 150px;
}
nav li{
	list-style: none;
	display: inline;
	padding: 10px 15px;
	border-bottom: 1px solid black;
}
nav li:hover{
	border: white;
}
nav{
	line-height: 150px;
}
.header h1{
	 color:    #D5AD6D ;
    background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.solid{
	font-size: 4em;
	padding-left: 15px;
}

/*************************
Adam's Additional Styling
*************************/

.wrapper-main{
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid lightgrey;
}

.content-main{
	float: left;
	width: 60%;
	margin-top: 20px;
}

.main-img {
	height: 90%;
	width: 90%;
	margin: 25px;
}

.aside-main {
	float: left;
	width: 39%;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	color: grey;
	margin-top: 20px;
}

.imgs-main {
	height: 190px;
	display: inline;
	border: 1px solid lightgrey;
}

.shop-now {
	clear: both;
	text-align: center;
}

.shop-button {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 1.5em;
	margin-top: 25px;
	padding: 6px 12px;
	text-transform: uppercase;
	background: #555;
	color: #fff;
	border: none;
	letter-spacing: .1em;
}

.secondary-content {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	margin-top: 50px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	color: grey;
	padding-bottom: 5px;
}

.secondary-content h3 {
	font-size: 1.3em;
}

.secondary-content p {
	font-size: 1.2em;
	letter-spacing: .2em;
}


/**************************************
	ABOUT PAGE
**************************************/
#main {
	background-color: #E8DFCF
}
#main img {
	padding-left: 5%;
	padding-top: 4%;
	margin-bottom: 4%;

}
.little {
	width: 25%;
	float: right;
	line-height: 2em;
	padding-right: 5%;
	padding-top: 8%;
}
.little2 {
	width: 25%;
	float: left;
	line-height: 2em;
	padding-left: 70px;
}
.bold {
	font-weight: 700;
}
.h2 {
	font-family: verdana;
	margin-bottom: -20px;
	padding-top: 20px;
	line-height: 1.5em;
	padding-left: 5%;
}
.h2 span {
	color: #7E8B8D;
}
#kid {
	margin-left: 34%;
	margin-top: -28%;
}
.pas {
	background-color: #9A8777;
}

/**************************************
	CONTACT PAGE
**************************************/
.contact{
	max-width: 90%;
	margin: 0 auto;
}
#primary p{
	font-weight: 600;
}
#primary h2{
	border-bottom: 2px solid black;
	text-align: center;
}
.contactInfo {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}
.contactInfo a {
	text-decoration: none;
	display: block;
	min-height: 30px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0px 10px 10px 30px;
	margin:0 0 10px;
	color: black;
}
#primary {
   width: 45%;
   float: left;
   margin-bottom: 80px;

}
#secondary {
  width: 40%;
  float: right;
  margin-right: -80px;
}
.contactInfo li.phone a{
  background-image:  url('images/phone.png');
}
.contactInfo li.email a{
  background-image: url('images/email.png');
}
.contactInfo li.social a{
  background-image: url('images/facebook.png');
}


/**************************************
	CAREER PAGE
**************************************/
#joblisting {
	padding-top: 5em;
}

.listing {
	width: 44%;
	position: relative;
	display: inline-block;
	text-align: center;
	margin-left:10px;
}

.jobreq {
	max-width: 30%
}

.listing h4 {
	text-decoration: underline;
}

.jobpics {
	height:200px;
	width:200px;
}

.desc{
	margin-top: 5em;
	float:right;
	border:5px black;
}



/**************************************
	PRODUCT PAGE
**************************************/
.articles{
	color: black;
	width: 33%;
	position: relative;
	display: inline-block;
	text-align: center;
	padding-top: 100px;

}
.image-size{
	height: 50%;
	width: 50%;
}
.image-size:hover{
	opacity: .6;
}
#test{
	margin: 0 auto;
}

.buyButton{
	color: black;
	background-color: gold;
	border-radius: 80%;
}
/*
.addButton{
	color: black;
	background-color: gold;
	border-radius: 80%;
}
*/
.cart{
	width: 15%;
	margin-bottom: -5px;
}
.buy{
	width: 20%;
	margin-top: -15px;
}

/***************************
	MEADIA QUERY
**************************/

@media screen and(min-width: 660px){
		.header{
			display: inline-block;
			float: right;
			font-size: 1.125em;
			text-align: right;
			width: 45%;
		}



}